
#board-container {
    margin: 0px auto;
    text-align: center;
    width: 65rem;
}
#writeBtn{
    margin-top:25px;
}
div, section, header, aside, footer {padding:10px;}

/*header*/
header div#header-container {height:100px;}
header div#header-container h2 	{margin:30px 10px 0px 10px;}

/********** content **********/
section#content		{min-height:600px;margin:30px auto;padding:1rem 3rem;}
.navbar{justify-content: space-between !important; padding:.5rem 2rem}
/*board*/
.table thead th, .table tbody tr{text-align: center!important;}

/*login form*/


/*footer*/
footer		{background-color:#f8f9fa; background-clip:content-box; clear:both; height:95px; text-align:center;}
footer p 	{margin-top:30px;}